@model PassionProject_SusanBoratynska.Models.ViewModels.AddPlayer

@{
    ViewBag.Title = "Add";
}

<h2>Add New Player</h2>

<div class="float-top-right">
    <a href="/Player/List" class="btn btn-default">Back to List</a>
</div>
<form method="POST" action="/Player/Add" enctype="multipart/form-data">
    <div class="inpfield"><span class="show-label">First Name:</span><input type="text" class="form-control" id="FirstName" name="FirstName" /></div>
    <div class="inpfield"><span class="show-label">Last Name:</span><input type="text" class="form-control" id="LastName" name="LastName" /></div>
    <div class="inpfield"><span class="show-label">Image: </span><input type="file" name="ProfilePic" id="ProfilePic" class="btn btn-default" /></div>
    <div class="inpfield">
        <span class="show-label">Team:</span>
        <select id="teamID" class="form-control" type="text" name="teamID">
            @{
                // Rendering loop to provide a list of Teams
                foreach (var team in @Model.Teams)
                {
                    <option value="@team.teamID">@team.name</option>

                }
            }
        </select>
    </div>
    <div class="inpfield">
        <span class="show-label">Position(s):</span>
        @{
            // Rendering loop to provide a list of Positions
            foreach (var position in @Model.Positions)
            {
                <input type="checkbox" name="PositionArray" value="@position.positionID" />
                <label for="PositionArray" class="unbold">@position.position</label>
            }
        }
    </div>



    <div class="inpfield"><input type="submit" value="Add Player" class="btn btn-default add-btn" /></div>
</form>
